version: "3.4"
services:
  app:
    build:
      context: .
      dockerfile: infrastructure/docker/node.dockerfile
    volumes:
       - ./:/code
    working_dir: /code
    command: sh -c "test -d node_modules || yarn install; yarn run serve"
    env_file:
      - .env
    ports:
      - "9999:8080"
    tty: true
