//overwrite bootstrap variables
$dark-blue: #1A88B4;
$background-blue: #3CADDA;
$light-blue: #82D8F2;
$lighter-blue: #51BAE1;

$yellow-highlight: #F6DD00;
$darker-yellow: #ffcb01;

$background-grey: #F1F1F3;
$lighter-grey: #cfcfd1;
$grey : #A4AFB7;
$dark-grey: #4d4d4d;
$text-grey: #4d4f5c;
$text-muted-grey: rgba(77, 79, 92, 0.51);

$status-green: #60DA3C;
$status-blue: #3CADDA;
$status-yellow: #F6DD00;
$status-red: #D20000;
$status-purple: #AA66CC;
