@import '../node_modules/bootstrap/scss/bootstrap.scss';
//overwrite variables
@import 'variables';

/* GENERAL */

html,
body {
  height: 100%;
}

.row {
  padding: 0;
  margin: 0;
}

.body {
  background-color: $background-grey;
}

.btn.btn-primary {
  background-color: $background-blue;
  border-color: $background-blue;

  &:hover {
    background-color: $light-blue;
    border-color: $light-blue;
  }
}

a, button {
  &.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $yellow-highlight;
    border-color: $yellow-highlight;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: $yellow-highlight;
      border-color: $yellow-highlight;
    }
  }
}

/* LOGIN */

.login-form-container {
  background-color: $background-blue;
  color: #ffffff;

  input[type="text"],
  input[type="password"] {
    background-color: $background-blue;
    border: 1px solid $dark-blue;

    &.is-invalid {
      border-color: $red;
    }

    &::placeholder {
      color: #ffffff;
    }

    &:focus {
      color: $background-blue;

      &::placeholder {
        color: $background-blue;
      }

      background-color: #ffffff;
      border-color: #ffffff;
    }
  }

  button {
    background-color: $light-blue;
    border: none;
    cursor: pointer;
  }
}

.partner-images {
  padding: 10px;
  border-top: 1px solid lightgray;
  position: absolute;
  bottom: 0;
  left: 0;

  img {
    max-height: 80px;
    padding: 0 5px;
  }
}

.start-screen {
  position: relative;
}

@include media-breakpoint-up(lg) {
  .login-form-container {
    padding-right: 10%;
  }
}

@include media-breakpoint-down(lg) {
  .partner-images {
    img {
      max-height: 40px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .partner-images {
    img {
      max-height: 20px;
    }
  }

  .beacon-logo-container {
    padding-bottom: 41px;
  }
}

/* NAVIGATION */

#navigation {
  height: 100%;
  background-color: $background-blue;
  max-width: 250px;

  a.navigation-link {
    line-height: 50px;
    height: 50px;
    position: relative;
    color: white;
    text-decoration: none;

    &.highlight, &:hover {
      background-color: $lighter-blue;

      &:before {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $yellow-highlight;
      }
    }
  }
}

/* HEADER */

.beacon-search {
  &::placeholder {
    color: $background-blue;
  }
}

.admin-user-name {
  color: $background-blue;
  padding-right: 30px;
}

.admin-logout {
  height: 20px;
  width: 20px;
  top: 25px;
  right: 5px;
  position: absolute;

  img {
    opacity: 0.4;
    height: 20px;
    width: 20px;
    vertical-align: initial;
    cursor: pointer;
  }
}

/* USERS */

.user-display, .beacon-display {
  background-color: #ffffff;
  border-radius: 7px;

  .col-header {
    color: $grey;
  }

  .user-item, .beacon-item {
    color: black;
    border-bottom: 1px solid $background-grey;
    padding-top: 1em;
    padding-bottom: 1em;

    &:hover {
      background-color: #fafafa;
      cursor: pointer;
      color: $background-blue;
      text-decoration: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .user-display {
    font-size: 12px;
  }
}

.back-link {
  &:hover {
    text-decoration: none;
    color: $background-blue;
  }

  color: $background-blue;
}
